<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="adminMapper">
<insert id="joinOwner" parameterType="ownerDTO">
insert into owner values(#{ownerId},#{ownerPassword},#{ownerName},#{ownerAddr},#{ownerDetailAddr},#{ownerPhone},#{ownerEmail},#{ownerfName},#{ownerGender})
</insert>
<insert id="joinSitter" parameterType="sitterDTO">
insert into sitter values(#{sitterId},#{sitterPassword},#{sitterName},#{sitterPhone},#{sitterEmail},#{sitterAddr},#{sitterDetailAddr},#{sitterIntroduce},0,#{sitterCertification},#{sitterPetAmount},#{sitterBasisPrice},#{sitterPermit},#{sitterGender})
</insert>

</mapper>