<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="callMapper">
	<sql id="callColumn">
		 call_id,SITTER_ID,call_total_price,CALL_COMMENT,CALL_RESERVATE_START,CALL_RESERVATE_END,CALL_WRITEDAY,CALL_PETCOUNT,OWNER_APPROVAL
	</sql>
	
	<!--  1:1의 관계 매핑 하기 -->
	<resultMap type="callDTO" id="calljoinowner">
		<id column="call_id" property="callId"/>
		<association property="ownerDTO" javaType="ownerDTO">
			<id column="owner_id" property="ownerId"/>
		</association>
	</resultMap>
	
	<!-- 대기중인 call list -->
	<select id="selectAllCallWaiting" resultMap="calljoinowner">
		select <include refid="callColumn"/>, o.owner_id,o.owner_addr,o.owner_name
		from call c join owner o
		on c.owner_id = o.owner_id
		where c.owner_approval is null
	</select>
	
	<select id="selectCallByOption" parameterType="Map" resultMap="calljoinowner">
		select <include refid="callColumn"/>, o.owner_id,o.owner_addr,o.owner_name
		from call c join owner o
		on c.owner_id = o.owner_id
		where c.owner_approval is null and (c.call_total_price >= #{price})
		<if test="opsList.size != 0">
			and 
			call_id in (
				<foreach collection="opsList" item="item" separator="intersect">
					select distinct sitting_id
					from sitting_option
					where option_id = #{item}
				</foreach>
			)
		</if>
		<if test="#{price} != null">
		
		</if>
		 
	</select>
	
</mapper>