<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="diaryMapper">
	
	<!-- 일지 등록 -->
	<insert id="insertDiary" parameterType="diaryDTO">
		insert into diary 
		values ('DIARY_ID-'||sequence_DIARY.NEXTVAL,#{sitterId},#{sittingId},#{diaryTitle},#{diaryContent},sysdate,#{diaryPwd},#{diaryFname})
	</insert>
	
	<!-- 부르기에서 일지 확인할때 -->
	<select id="selectDiaryByCall" parameterType="string" resultType="diaryDTO">
		select diary_title, diary_content, diary_writeday, diary_fname
		from diary d join call c
		on d.sitting_id=c.call_id
		where c.call_id=#{_parameter}
	</select>
	<!-- sitter 프로필 사진 검색-->
	<select id="selectSitterFnameByCall" parameterType="string" resultType="string">
		select distinct s.sitter_fname
		from call c join sitter s
		on c.sitter_id = s.sitter_id
		join diary d
		on d.sitting_id=c.call_id
		where c.call_id=#{_parameter}
	</select>
	
	<!-- 맡기기에서 일지 확인할때 -->
	<select id="selectDiaryByRequest" parameterType="string" resultType="diaryDTO">
		select diary_title, diary_content, diary_writeday, diary_fname
		from diary d join owner_request r
		on d.sitting_id=r.owner_request_id
		where r.owner_request_id=#{_parameter}
	</select>
	<!-- sitter 프로필 사진 검색-->
	<select id="selectSitterFnameByRequest" parameterType="string" resultType="string">
		select distinct s.sitter_fname
		from owner_request o join sitter s
		on o.sitter_id = s.sitter_id
		join diary d
		on d.sitting_id=o.owner_request_id
		where o.owner_request_id=#{_parameter}
	</select>
</mapper>