<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="petMapper">
<update id="updatePetInfo" parameterType="petDTO">
update pet set pet_name=#{petName}, pet_species= #{petSpecies}, pet_illness =#{petIllness}, pet_weight=#{petWeight},pet_gender=#{petGender} where pet_id=#{petId}
</update> 

<insert id="insertPet" parameterType="petDTO">
insert into (pet_id,pet_name,pet_species,pet_size,pet_weight,pet_gender,pet_illness,pet_age,pet_fname,owner_id) values
('pet_id-'||sequence_pet.nextval,#{petName},#{petSpecies},#{petSize},#{petWeight},#{petGender},#{petIllness},#{petAge},#{pet_fname},#{ownerId})
</insert>
</mapper>