<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="requestMapper">

<select id="allSelectOwnerRequest" resultType="ownerRequestDTO">
select * from owner_request where sitter_approval is null or sitter_approval = 'x'
</select>

<select id="allSelectOwnerRequestApproval" resultType="ownerRequestDTO">
select * from owner_request where sitter_approval = 'y'
</select>

<select id="allSelectCall" resultType="callDTO">
select * from call where owner_approval is null
</select>

<select id="allSelectCallApproval" resultType="callDTO">
select *from call where owner_approval = 'y'
</select>

<update id="updateOwnerApproval" parameterType="map">
update call set owner_approval = '${state}' where call_id= '${callId}'
</update>

<select id="selectAllOption" resultType="optionsDTO">
	select * from Options
</select>

<select id="selectUserById" parameterType="string">
select * from owner where owner_id=${_parameter}
</select>

</mapper>