<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="sittingOptionMapper">

<!--  1:1의 관계 매핑 하기 -->
	<resultMap type="sittingOptionDTO" id="sitterOptionJoinOption">
		<id column="sitting_option_id" property="sittingOptionId"/>
		<result column="sitting_id" property="sittingId"/>
		<association property="optionsDTO" javaType="optionsDTO">
			<id column="option_id" property="optionId"/>
			<result column="optionName" property="optionName"/>
		</association>
	</resultMap>

	<select id="selectSittingOptions" parameterType="String" resultMap="sitterOptionJoinOption"> 
		select sitting_option_id, sitting_id, o.option_id, o.option_name 
		from sitting_option s join options o 
		on	o.option_id = s.option_id
		where sitting_id = #{_parameter}
	</select>
</mapper>